/* CSS declarations go here */

body {
  background-color: #eee;
}

.puma {
  fill: #aaa;
}

#map {
  /*border: 1px solid #000;*/
  height: 500px;
  fill: #333;
}

.icon: {
  fill: #fff;
  color: #fff;
}

#optionsbutton {
  position: absolute;
  left: 20px;
  top: 40px;
}

#hoverdetail {
  position: absolute;
  left: 20px;
  top: 80px;
}

#filterdesc {
  text-align: center;
  font-family: "Century Gothic";
  color: #ccc;
}

.part:hover {
  border: 1px solid #f00;
}
