/* CSS declarations go here */

.puma {
  fill: #aaa;
}

/*
#map {
  border: 1px solid #000;
}
*/

.icon: {
  fill: #fff;
  color: #fff;
}

#optionsbutton {
  position: absolute;
  left: 20px;
  top: 40px;
}

#filterdesc {
  text-align: center;
  font-family: "Times New Roman";
}
